
<body>
 
  <div class="team-members">
    <div class="team-member">
      <img src="./assets/andrea_cantone.jpg">
      <h3>Andrea Cantone</h3>
      <p>COO</p>
    </div>
    <div class="team-member">
      <img src="./assets/stefano_ingrosso.jpg" alt="Profile picture of Jane Smith">
      <h3>Stefano Ingrosso</h3>
      <p>CEO</p>
    </div>
    <div class="team-member">
      <img src="./assets/nicola_vanoli.jpg" alt="Profile picture of Bob Johnson">
      <h3>Nicola Vanoli</h3>
      <p>CTO</p>
      <!-- <p>Bob is the CTO of our company. He has a background in technology and a wealth of experience in building software and systems.</p> -->
    </div>
  </div>
  
</body>
